<!-- text-template -->
<script type="text/x-template" id="app-content-template">
    <div class="app-content" :id="id">
        <div class="input-container" >
            <input autofocus @paste="paste($event)" type="text" ref="input" @keyup="keyup($event)" v-model="newItem.label" >
            <span v-if="newItem.label.length>0" class="material-icons clear-icon" @click="clear()">clear</span>
            <button @click="add(newItem)">Add</button>
        </div>
        <div class="item-container">
            <transition-group name="itemlist">
            <div class="item" v-for="(item,idx) in sortedItems" :key="item.id" :replaced="item.replaced">
                <span>{{item.label}}</span>
                <span class="material-icons delete-icon" @click="remove(item.id)">delete</span>
            </div>
            <div v-if="currentItems.length==0" :key="currentItems.length">No items</div>
            </transition-group>
        </div>
    </div>
</script>
<script type="text/javascript">
Vue.component('app-content', {
    template: '#app-content-template',
    data: function(){
        return {
            nextIndex: 1,
            currentActions: [],
            currentItems: [],
            newItem: {
                label: ''
            },
        }
    },
    props: { 
        "id" : {
            "type" : String,
            "default": "comp"+Math.round(Math.random()*10000)
        },
        "sorted" : {
            "type" : Boolean
        },
        "items": {
            "type": Array,
            "default" : []
        },
        "actions": {
            "type": Array,
            "default" : []
        }
    },
    mounted:function(){
        document.title = "ShopList"
        var self = this;
        self.currentActions = this.actions;
        self.loadIndex(this.items)
        this.$refs.input.focus()
        window.cont = this
    },
    methods: {
        loadIndex: function(items){
            this.currentItems = items;
            for(var idx in this.currentItems){
                if (this.currentItems[idx].id) {
                    this.nextIndex = Math.max(this.currentItems[idx].id + 1, this.nextIndex)
                }
            }
            for(var idx in this.currentItems){
                if (!this.currentItems[idx].id) {
                    this.currentItems[idx].id = this.nextIndex
                    this.nextIndex++
                }
            }
        },
        
        newAction: function (data){
            this.currentActions.push(data)
            this.$emit('action', this.currentActions)
        },
        paste: function(event){
            var textLines = event.clipboardData.getData('text/plain').split('\n')
            for(var idx in textLines){
                var item = textLines[idx]
                console.log('adding', item)
                this.add({label:item})
            }
            var self = this
            setTimeout(function(){
                self.clear()
            }, 500)
        },
        add: function (itemIn, undo) {
            var newItem = JSON.parse(JSON.stringify(itemIn))
            if (newItem.label.trim() == '') {
                this.clear()
                return
            }
            newItem.id = this.nextIndex
            this.nextIndex++
            newItem.label = newItem.label[0].toUpperCase() + newItem.label.substring(1)
            var foundIdx = -1
            var found = this.currentItems.filter(function (item, idx) {
                var itemFound = item.label.toLowerCase() == newItem.label.toLowerCase()
                if (itemFound) {
                    foundIdx = idx
                }
                return itemFound
            })
            if (found.length == 0) {
                this.currentItems.push(newItem)
                if (!undo){
                    this.newAction({
                        action: 'add',
                        id: newItem.id
                    })
                }
            } else {
                var foundItem = this.currentItems[foundIdx]
                foundItem.replaced = true
                var self=this
                setTimeout(function(item) {
                    item.replaced = false
                    self.save()
                    self.$forceUpdate()
                },300, foundItem)
            }
            this.clear()
        },
        undo: function () {
            if (this.currentActions.length == 0) {
                return
            }
            var lastAction = this.currentActions.pop()
            if (lastAction.action == 'remove') {
                this.add({label:lastAction.text}, true)
            }
            if (lastAction.action == 'add') {
                this.remove(lastAction.id, true)
            }
        },
        save: function () {
            localStorage.setItem('shoppingcart1', JSON.stringify(this.currentItems))
            localStorage.setItem('shoppingcart_actions', JSON.stringify(this.currentActions))
        },
        clear: function () {
            this.newItem.label=''
            this.$refs.input.focus()
        },
        remove: function (id, undo) {
            var idx = -1
            var items = this.currentItems.filter(function(item, index){ 
                if (item.id==id) idx = index;
                return item.id==id; 
            });
            if (idx>-1){
                if (!undo) {
                    this.newAction({
                        action: 'remove',
                        text: items[0].label
                    })
                }
                this.currentItems.splice(idx, 1)
                this.save()
            }
        },
        keyup: function (ev) {
            if (ev.keyCode == 13) {
                this.add(this.newItem)
            }
        }
    },
    computed:{
        sortedItems: function () {
            if (this.sorted) {
                var items = JSON.parse(JSON.stringify(this.currentItems))
                return items.sort(function (a, b){
                    if (a.label>b.label) return 1
                    if (a.label<b.label) return -1
                    return 0
                })
            } else {
                return this.currentItems
            }
        }
    },
    watch:{
        actions: function (newItem) {
            this.currentActions = newItem
        },
        items: function (newItem) {
            this.loadIndex(newItem)
        }
    }

});
</script>
<style>
.app-content{
    flex: 1;
    margin-top: 1.6em;
    padding: 8px 12px;
}
*[inactive='true']{
    opacity: 0.4;
}
.material-icons{
    font-size: 1em;
}
.input-container{
    display: flex;
    align-items: center;

}
.input-container input, .input-container button{
    height: 44px;
    line-height: 44px;
    padding: 0 12px;
    border-radius: 3px;
    border: 1px solid #eee;
}
.input-container input{
    flex: 1;
    outline: none;
    font-size: 16px;
}
.input-container button{
    margin-left: 8px;
    background-color: #ddd;
    font-size: 1em;
}
.clear-icon{
    position: relative;
    right: 35px;
    margin-right: -30px;
    cursor: pointer;
    color: #222;
}
.delete-icon{
    cursor: pointer;
}
.item-container{
    margin: 20px 0;
}
.item-container .item{
    display: inline-flex;
    background-color: #eee;
    color: #222;
    padding: 6px;
    border-radius: 4px;
    align-items: center;
    margin-right: 8px;
    margin-bottom: 8px;
}
.item-container .item[replaced='true']{
    font-weight: bold;
    background-color: #ffffcc;
}
.item-container .item .material-icons{
    font-size: 1.2em;
    padding-left: 8px;
}
.itemlist-enter-active, .itemlist-leave-active {
  transition: opacity .3s;
}
.itemlist-enter, .itemlist-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>